.product-filter{
    display: flex;
    max-height: 2.7em;
    gap: 10px; 

}

.filter-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .filter-button:hover {
    background-color: #0056b3;
  }
  
  .filter-button:active {
    background-color: #004199;
  }
  
  /* Optional: Adding a subtle shadow on hover */
  .filter-button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Optional: Adding a border on focus */
  .filter-button:focus {
    outline: none;
    border: 1px solid #007bff;
  }
  